<launch>
  <arg name="arm" default="PSM2" />
  <include file="$(find dvrk_vision)/launch/just_cams.launch">
  	<arg name="camera_parent" default="$(arg arm)_psm_base_link"/>
  </include>


  <node ns="stereo" pkg="dvrk_vision" type="dvrk_registration.py"
  		name="registration" output="screen" required="true"/>
  		
</launch>