<launch>

  <node name="dvrk_jconsole"
      pkg="dvrk_robot" 
      type="dvrk_console_json" 
      args="-j /home/arma/catkin_ws/src/cisst-saw-nri/sawIntuitiveResearchKit/share/vu-dVRK/console-PSM2_VU.json"
      output="screen"/>

  <include file="$(find dvrk_vision)/launch/just_cams_vu.launch" />

  <arg name="yaml" default="$(find dvrk_vision)/defaults/registration_params_vu.yaml" />    
  <arg name="arm" default="PSM2" />

  <node ns="stereo" pkg="dvrk_vision" type="dvrk_registration.py"
        name="registration" output="screen" required="true">
    <param name="registration_yaml" value="$(arg yaml)" />
    <param name="arm" value="$(arg arm)"/>
  </node>

</launch>