<launch>
  <arg name="width" default="800" />
  <arg name="height" default="600" />
  <arg name="fps" default="30" />
  <arg name="format" default="jpeg"/>

  <arg name="frame" default="stereo_camera_frame" />
  <arg name="device_left" default="/dev/video0" />
  <arg name="camera_info_url_left" default="file://$(find dvrk_vision)/defaults/stereo_cam0_calibration.yaml" />
  <arg name="output_topic_left" default="image_raw" />

  <arg name="frame_right" default="stereo_right_frame" />
  <arg name="device_right" default="/dev/video1" />
  <arg name="camera_info_url_right" default="file://$(find dvrk_vision)/defaults/stereo_cam1_calibration.yaml" />
  <arg name="output_topic_right" default="image_raw" />
  <arg name="exposure" default="300" />
  <arg name="white_balance" default="2800" />
  <arg name="saturation" default="50" />
  <arg name="brightness" default="0" />
  <arg name="hue" default="20" />
  
  <node ns="stereo/left" pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_stereo_left" output="screen">
    <param name="width" value="$(arg width)" />
    <param name="height" value="$(arg height)" />
    <param name="fps" value="$(arg fps)" />
    <param name="frame_id" value="$(arg frame)" />
    <param name="format" value="$(arg format)"/>
    <param name="device" value="$(arg device_left)" />    
    <param name="camera_info_url" value="$(arg camera_info_url_left)" />
    <param name="output_topic" value="$(arg output_topic_left)" />
    <param name="white_balance_temperature" value="$(arg white_balance)"/>
    <param name="white_balance_temperature_auto" value="100"/>
    <param name="exposure_auto" value="1"/>
    <param name="exposure_absolute" value="$(arg exposure)"/>
    <param name="saturation" value="$(arg saturation)"/>
    <param name="brightness" value="$(arg brightness)"/>
    <param name="hue" value="$(arg hue)"/>
  </node>

  <node ns="stereo/left" name="republish" type="republish" pkg="image_transport" output="screen" args="_image_transport:=compressed compressed in:=image_raw/ raw out:=image_raw/" />

  <node name="image_rect_left" type="image_rectification.py" pkg="dvrk_vision" output="screen">
    <param name="image_topic" value="/stereo/left/image_raw" />
  </node>
  
  <node ns="stereo/right" pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_stereo_right" output="screen">
    <param name="width" value="$(arg width)" />
    <param name="height" value="$(arg height)" />
    <param name="fps" value="$(arg fps)" />
    <param name="frame_id" value="$(arg frame)" />
    <param name="format" value="$(arg format)"/>
    <param name="device" value="$(arg device_right)" />    
    <param name="camera_info_url" value="$(arg camera_info_url_right)" />
    <param name="output_topic" value="$(arg output_topic_right)" />
    <param name="white_balance_temperature" value="$(arg white_balance)"/>
    <param name="auto_white_balance" value="100"/>
    <param name="exposure_auto" value="1"/>
    <param name="exposure_absolute" value="$(arg exposure)"/>
    <param name="saturation" value="$(arg saturation)"/>
    <param name="brightness" value="$(arg brightness)"/>
    <param name="hue" value="$(arg hue)"/>
  </node>
  
  <node ns="stereo/right" name="republish" type="republish" pkg="image_transport" output="screen" args="_image_transport:=compressed compressed in:=image_raw/ raw out:=image_raw/" />

  <node name="image_rect_right" type="image_rectification.py" pkg="dvrk_vision" output="screen">
    <param name="image_topic" value="/stereo/right/image_raw" />
  </node>
  
  <node ns="stereo" name="stereo_processing" type="stereo_registration.py" pkg="dvrk_vision" output="screen"/>
  <!--
  <node ns="stereo" name="registration_gui" type="registration_gui.py" pkg="dvrk_vision" output="screen"/>
  
  -->
  <!--
  
  <node name="image_segmentation" type="graph_cut_node.py" pkg="dvrk_vision" output="screen">
    <param name="image_topic_l" value="/stereo/left/image_rect" />
  </node>

  
  <node pkg="rviz" type="rviz" name="stereo_visualizer"
        args="-d $(find dvrk_vision)/rviz_config/StereoPointCloud.rviz" />
  -->
  
  <!-- Camera transform publisher -->
  <node pkg="tf" type="static_transform_publisher" name="cam_tf_publisher" args="0.0 0.0 0.0 0.0 0.0 0.0  world $(arg frame) 100"/>

</launch>
