<launch>
  <include file="$(find dvrk_vision)/launch/just_cams.launch"/>
  <node ns="stereo" name="stereo_processing" type="stereo_processing.py" pkg="dvrk_vision" output="screen"/>
  
  <node ns="stereo" name="registration_gui" type="registration_gui.py" pkg="dvrk_vision" output="screen"/>

  <node ns="stereo" name="bingham_registration" type="registration_node" pkg="bingham_registration" output="screen">
    <param name="stl_path" value="package://dvrk_vision/defaults/femur.stl"/>
    <param name="stl_scale" value="0.001"/>
  </node>
</launch>